/*.delahaye button {
    color: #cc9900!important;
}*/

.delahaye  {
    color: #cc9900!important;
}

.delahaye .cesium-button {
    color: #111;
    fill: #111;
    background: #cc9900;
    border: 1px solid #759dc0;
}
.delahaye .cesium-button:focus {
    color: #000;
    fill: #000;
    border-color: #ea4;
}
.delahaye .cesium-button:hover {
    color: #000;
    fill: #000;
    background: #a6d2ff;
    border-color: #aef;
    box-shadow: 0 0 8px #777;
}
.delahaye .cesium-button:active {
    color: #cc9900;
    fill: #cc9900;
    background: #48b;
    border-color: #ea0;
}
.delahaye .cesium-button:disabled,
.delahaye .cesium-button-disabled,
.delahaye .cesium-button-disabled:focus,
.delahaye .cesium-button-disabled:hover,
.delahaye .cesium-button-disabled:active {
    background: #ccc;
    border-color: #999;
    color: #999;
    fill: #999;
    box-shadow: none;
}
.delahaye .cesium-performanceDisplay {
    background-color: #e2f0ff;
    border-color: #759dc0;
}
.delahaye .cesium-performanceDisplay-fps {
    color: #e52;
}
.delahaye .cesium-performanceDisplay-ms {
    color: #ea4;
}
.delahaye .cesium-animation-themeNormal {
    color: #cc9900;
}
.delahaye .cesium-animation-themeHover {
    color: #cc9900;
}
.delahaye .cesium-animation-themeSelect {
    color: #cc9900;
}
.delahaye .cesium-animation-themeDisabled {
    color: #cc9900;
}
.delahaye .cesium-animation-themeKnob {
    color: #cc9900;
}
.delahaye .cesium-animation-themePointer {
    color: #FA5;
}
.delahaye .cesium-animation-themeSwoosh {
    color: #ACE;
}
.delahaye .cesium-animation-themeSwooshHover {
    color: #BDF;
}
.delahaye .cesium-animation-svgText {
    fill: #111;
}
.delahaye .cesium-animation-rectButton .cesium-animation-buttonPath {
    fill: #111;
}
.delahaye .cesium-animation-rectButton .cesium-animation-buttonMain {
    stroke: #759DC0;
}
.delahaye .cesium-animation-buttonToggled .cesium-animation-buttonGlow {
    fill: #FFAA2A;
}
.delahaye .cesium-animation-buttonToggled .cesium-animation-buttonMain {
    stroke: #EA0;
}
.delahaye .cesium-animation-rectButton:hover .cesium-animation-buttonMain {
    stroke: #759DC0;
}
.delahaye .cesium-animation-buttonToggled:hover .cesium-animation-buttonGlow {
    fill: #fff;
}
.delahaye .cesium-animation-buttonToggled:hover .cesium-animation-buttonMain {
    stroke: #EA0;
}
.delahaye .cesium-animation-rectButton:active .cesium-animation-buttonMain {
    fill: #ABD6FF;
}
.delahaye .cesium-animation-buttonDisabled .cesium-animation-buttonMain {
    stroke: #D3D3D3;
}
.delahaye .cesium-animation-buttonDisabled .cesium-animation-buttonPath {
    fill: #818181;
}
.delahaye .cesium-animation-shuttleRingBack {
    fill: #cc9900;
    fill-opacity: 1;
    stroke: #fff;
    stroke-width: 1.2;
}
.delahaye .cesium-animation-shuttleRingSwoosh line {
    stroke: #8AC;
}
.delahaye .cesium-animation-knobOuter {
    stroke: #A5A5A5;
}
.delahaye .cesium-baseLayerPicker-itemIcon {
    border-color: #759dc0;
}
.delahaye .cesium-baseLayerPicker-dropDown {
    background-color: rgba(240, 240, 240, 0.75);
}
.delahaye .cesium-baseLayerPicker-sectionTitle {
    color: black;
}
.delahaye .cesium-baseLayerPicker-itemLabel {
    color: black;
}
.delahaye .cesium-baseLayerPicker-item:hover .cesium-baseLayerPicker-itemIcon {
    border-color: #000;
}
.delahaye .cesium-baseLayerPicker-selectedItem .cesium-baseLayerPicker-itemLabel {
    color: rgb(0, 61, 168);
}
.delahaye .cesium-baseLayerPicker-selectedItem .cesium-baseLayerPicker-itemIcon {
    border: double 4px rgb(0, 61, 168);
}
.delahaye .cesium-widget-errorPanel {
    background: rgba(255, 255, 255, 0.7);
}
.delahaye .cesium-widget-errorPanel-content {
    border: 1px solid #526F82;
    border-radius: 7px;
    background-color: #cc9900;
    color: black;
}
.delahaye .cesium-widget-errorPanel-header {
    color: #B87D00;
}
.delahaye .cesium-geocoder-input {
    border: solid 1px #759dc0;
    background-color: rgba(240, 240, 240, 0.9);
    color: black;
}
.delahaye .cesium-viewer-geocoderContainer:hover .cesium-geocoder-input {
     background-color: #cc9900;
    box-shadow: 0 0 8px #cc9900;
}
.delahaye .cesium-geocoder-searchButton {
    background-color: #cc9900;
    fill: #111;
}
.delahaye .cesium-geocoder-searchButton:hover {
    background-color: #cc9900;
}
.delahaye .cesium-timeline-bar {
    background: linear-gradient(to bottom, #cc9900 0%, #cc9900 50%, #cc9900 100%);
}
.delahaye .cesium-timeline-ticLabel {
    color: #000;
}
.delahaye .cesium-timeline-ticMain {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1px;
    height: 50%;
    background: #000;
}
.delahaye .cesium-timeline-ticSub {
    background: #444;
}
.delahaye .cesium-navigation-help-instructions {
    border: 1px solid #759dc0;
    background-color: #cc9900;
}
.delahaye .cesium-navigation-help-pan {
    color: #66ccee;
    font-weight: bold;
}
.delahaye .cesium-navigation-help-zoom {
    color: #65ec00;
    font-weight: bold;
}
.delahaye .cesium-navigation-help-rotate {
    color: #eec722;
    font-weight: bold;
}
.delahaye .cesium-navigation-help-tilt {
    color: #d800d8;
    font-weight: bold;
}
.delahaye .cesium-navigation-help-details {
    color: #222222;
}
.delahaye .cesium-navigation-button {
    color: #222222;
    border-top: 1px solid #759dc0;
    border-right: 1px solid #759dc0;
}
.delahaye .cesium-navigation-button-selected {
    background-color: #cc9900;
}
.delahaye .cesium-navigation-button-unselected {
    background-color: #cc9900;
}
.delahaye .cesium-navigation-button-unselected:hover {
    background-color: #cc9900;
}

