 @import url(/Build/Cesium/Widgets/widgets.css);
    html,
    body,
    #cesiumContainer {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      font-family: sans-serif;
      color: #edffff;
    }

    #controlPanel {
      position: absolute;
      top: 5px;
      left: 5px;
      background: rgba(42, 42, 42, 0.8);
      padding: 5px 8px;
      border-radius: 5px;
    }

    label {
      cursor: pointer;
    }

    label:hover span {
      text-decoration: underline;
    }
